<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <link rel="shortcut icon" href="/static/img/Ima1.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASEDEVUP</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a> 
            <a href="/login">Ingresar</a>
            <a href="/registro">Registrar</a> 
        </nav>
        <section class="textos-header">
            <h1>Plataforma de gestión y comunicación de desarrollo de software</h1>
            <h1>EaseDevUp</h1>
            <h2>Gestiona tus proyectos de desarrollo de software facilmente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.10 C187.36,208.58 349.20,-50.10 500.00,50.10 L500.00,150.33 L0.00,150.33 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestro Producto</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="static/img/Ima2.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Gestión de proyectos</h3>
                    <p>Gestiona tus proyectos, planifica, organiza y ten el control de los recursos necesarios para alcanzar tus objetivos de la mano con nosotros.</p>
                    <h3><span>2</span>Comunicación entre equipos</h3>
                    <p>La comunicación efectiva entre equipos es crucial para el éxito de cualquier empresa. La buena colaboración y comunicación entre equipos son los objetivos finales de toda empresa. Con el florecimiento del trabajo remoto, hacemos frente a más desafíos, ya que no compartimos las oficinas con nuestros compañeros de equipo. La interacción efectiva entre los empleados y los diferentes departamentos es más crítica que nunca. Por ello establecer la colaboración multifuncional es crucial para fomentar enfoques innovadores y beneficiarse del conjunto diverso de habilidades de los trabajadores. La comunicación entre equipos significa que diferentes equipos colaboran en proyectos conjuntos o tienen el mismo objetivo. </p>
                </div>
            </div>
        </section>
        
        <section class="clientes contenedor">
            <h2 class="titulo">Desarrolladores</h2>
            <div class="cards">
                <div class="card">
                    <img src="static/img/Imac.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Cristian Chiguasuque</h4>
                        <br>
                        <p>Ingeniero de sistemas de 9 semestre de la Universidad De Cundinamarca apasionado por el desarollo de software.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="static/img/Imaj.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Jeison Polanco</h4>
                        <br>
                        <p>Ingeniero de sistemas de 9 semestre de la Universidad De Cundinamarca apasionado por el analisis de software.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="static/img/Imal.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Luis Rincón</h4>
                        <br>
                        <p>Ingeniero de sistemas de 9 semestre de la Universidad De Cundinamarca apasionado por el desarrollo de software.</p>
                    </div>
                </div>
            </div> 
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Funciones</h4>
                <p><a href="/">Inicio</a></p>
                <p><a href="/perfil">Mi Perfil</a></p>
            </div>
            <div class="content-foo">
                <h4>Correo de contacto</h4>
                <p>udesoft@outlook.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Villa De San Diego De Ubaté</p>
            </div>
            <div class="content-foo">
                <h4>Equipo</h4>
                <p><a href="https://linktr.ee/LuisCarlosRinconGordo">Luis Carlos Rincón</a></p>
                <p><a href="https://github.com/cristian34823">Cristian David Chiguasuque</a></p>
                <p><a href="https://linktr.ee/ThePolanco">Jeison Stiven Polanco</a></p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Udec-Soft | EaseDevUp</h2>
    </footer>
</body>
</html>