<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos_login.css">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <section class="background-radial-gradient overflow-hidden">
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> EaseDevUp <br/>
                        <span style="color: hsl(218, 81%, 75%)">Gestor de actividades de la empresa</span>
                    </h1>
                    <p class="mb-4 opacity-70" style="color: white; text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5);">
                        En UDEC-Soft queremos potenciar e incentivar el desarrollo constante de los proyectos de los
                        que nos hacemos cargo. Por eso, hemos creado un sistema de gestión de nuestros proyectos,
                        para mantener la organización, el aprendizaje y el trabajo en equipo a un máximo nivel.
                    </p>
                </div>
                
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h1 class="h3 mb-1" style="color: black;">Registro EaseDevUp</h1>
                            <form action = "/guardar_usuarios" method = "post">
                                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de usuario" name = "nombre">
                            
                                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com" name = "email">
                                    
                                <label for="exampleFormControlInput1" class="form-label">Departamento</label>
                                <select class="form-control" id="exampleFormControlInput1" name="departamento">
                                    <option value="desarrolladores">desarrolladores</option>
                                    <option value="administradores de bases de datos">administradores de bases de datos</option>
                                    <option value="devops">devops</option>
                                    <option value="analistas">analistas</option>
                                    <option value="Seguridad">Seguridad</option>
                                </select>
                                    
                                <label for="exampleFormControlInput1" class="form-label">Fecha de Nacimiento</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fecha" name = "cumple">
                                    
                                <label for="inputPassword5" class="form-label">Contraseña</label>
                                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name = "password">
                                
                                <div id="passwordHelpBlock" class="form-text">
                                    Asegurate de digitar una contraseña que recuerdes luego.
                                </div>
                                <br>
                                <button class="btn btn-primary w-100 py-2" type="submit">Registrarse</button>
                                <br><br>
                                <p>Ya tienes una cuenta? <a href="login" class="link">Ingresa aqui!</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>3013707162</p>
            </div>
            <div class="content-foo">
                <h4>Correo de contacto</h4>
                <p>udesoft@outlook.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Villa De San Diego De Ubaté</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Universidad De Cundinamarca | Facultad De Ingenieria</h2>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>