<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos_user_usr.css')}}">
    <link rel="shortcut icon" href="/static/img/Ima1.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/mdb@4.19.2/dist/css/mdb.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/734456f476.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="fs-4" src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo" width="50%" height="auto" aria-label="Logo">
        </a>
    
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/historial" class="nav-link active" aria-current="page">Historial</a></li>
            <li class="nav-item"><a href="/nosotros" class="nav-link">Sobre Nosotros</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" id="contactanosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contactanos
                </a>
                <ul class="dropdown-menu" aria-labelledby="contactanosDropdown">
                    <li><a class="dropdown-item" href="https://linktr.ee/LuisCarlosRinconGordo" target="_blank">Luis Rincón</a></li>
                    <li><a class="dropdown-item" href="https://github.com/cristian34823" target="_blank">Cristian Chiguasuque</a></li>
                    <li><a class="dropdown-item" href="https://linktr.ee/ThePolanco" target="_blank">Jeison Polanco</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="/perfil" class="nav-link">Perfil</a></li>
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Salir</a></li>
        </ul>
    </header>
    <div class="datos">
        <div class="container_datos">
            <h2>Actividades</h2>
            {% for actividad in actividades %}
            <form class="registros" action="/editar_Comentario/{{ actividad.actividad }}" method="post">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th data-th="Actividad">Actividad</th>
                                <th data-th="Descripción">Descripción</th>
                                <th data-th="Equipo">Equipo</th>
                                <th data-th="Fecha Inicio">Fecha Inicio</th>
                                <th data-th="Fecha Final">Fecha Final</th>
                                <th data-th="Estado">Estado</th>
                                <th data-th="Comentarios">Comentarios</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ actividad.actividad }}</td>
                                <td>{{ actividad.descripcion }}</td>
                                <td>{{ actividad.equipo }}</td>
                                <td>{{ actividad.fechaI }}</td>
                                <td>{{ actividad.fechaF }}</td>
                                <td>{{ actividad.estado }}</td>
                                <td><input class="input-field form-control" type="text" name="comentarios" required placeholder="{{ actividad.comentarios}}"></td>
                                <td>
                                    <button type="submit" class="btn btn-success btn-sm">Enviar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Funciones</h4>
                <p><a href="/">Inicio</a></p>
                <p><a href="/perfil">Mi Perfil</a></p>
            </div>
            <div class="content-foo">
                <h4>Telefono de contacto</h4>
                <p>(+57) 301 5359537</p>
                <p>(+57) 301 3707162</p>
                <p>(+57) 300 4039815</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Villa De San Diego De Ubaté</p>
            </div>
            <div class="content-foo">
                <h4>Equipo</h4>
                <p><a href="https://linktr.ee/LuisCarlosRinconGordo">Luis Carlos Rincón</a></p>
                <p><a href="https://github.com/cristian34823">Cristian David Chiguasuque</a></p>
                <p><a href="https://linktr.ee/ThePolanco">Jeison Stiven Polanco</a></p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Udec-Soft | EaseDevUp</h2>
    </footer>
</body>
</html>