/* Estilos de pantalla 404 */
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
}

.background-radial-gradient {
    background-size: 100%;
    background-color: hsl(270, 50%, 20%); 
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(270, 50%, 40%) 15%,
        hsl(270, 50%, 30%) 35%, 
        hsl(270, 50%, 20%) 75%, 
        hsl(270, 50%, 19%) 80%, 
        transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
        hsl(270, 50%, 60%) 15%, 
        hsl(270, 50%, 40%) 35%, 
        hsl(270, 50%, 30%) 75%, 
        hsl(270, 50%, 29%) 80%, 
        transparent 100%);
    margin: 0;
    padding: 0; 
}

.contenedor_404 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 20px;
    flex-grow: 1; 
    height: 100%;
}

.area_404 {
    flex-basis: 100%;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .background-radial-gradient{
        flex-direction: column;
    }

    .contenedor_404{
        flex-basis: 100%;
    }
}